.slid-fit {
    filter: brightness(50%);
}

.ex-bg-info {
    background-color: #F4FAFD;
}

@media screen and (max-width: 576px) {
    .kors {
        display: none;

    }

    .com-add {
        display: none;
    }
}

@media only screen and (max-width: 992px) and (min-width: 576px) {
    .com-add {
        display: none;
    }

    .kors {
        display: none;

    }
}