.slid-fit {
    filter: brightness(50%);

}

.ex-bg-info {
    background-color: #ebebe9;
}

@media screen and (max-width: 576px) {
    .carcap {
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .carcap h1 {
        font-size: small;
    }

    .carcap p {
        font-size: x-small;
    }
}